<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main class="contianer">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="jumbotron">
          <h1 class="text-center">Create User</h1>
          <br>
          <div class="alert alert-success" role="alert" style="display: none;">
            User Created!
          </div>
          <div class="alert alert-danger" role="alert" style="display: none;">
            Error!
          </div>
          <form id="register">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <label for="birthDate">Birth Date</label>
              <input type="date" class="form-control" id="birthDate" placeholder="Birth Date" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </main>

  <!-- <footer>
  <%- include('../partials/footer'); %>
</footer> -->
  <%- include('../partials/foot'); %>
    <script>
      $(document).ready(function () {
        let url = 'http://127.0.0.1:5000/api/createUser'

        $("#register").submit(function (e) {
          e.preventDefault();
          let body = {
            firstname: document.getElementById("firstName").value,
            lastname: document.getElementById("lastName").value,
            birthdate: document.getElementById("birthDate").value
          }
          //  creating user 
          axios.post(url, {
            body: body
          })
            .then(response => {
              console.log(response.data)
              localStorage.setItem("userID", response.data.userid)
              $(".alert-danger").hide()
              $(".alert-success").show()
              setTimeout(()=>{
                window.location.href = "/createRestraunt";
              },3000)
            })
            .catch(err => {
              console.log("err -> ", err)
              $(".alert-danger").show()
              $(".alert-success").hide()
            })
        })
      })
    </script>

</body>

</html>